@tailwind base;
@tailwind components;
@tailwind utilities;
/* Must haves */

body {
  margin: 10;
  font-family: Poppins, sans-serif;
  color: #fffffb;
  background: #0d0d0d;
  overflow-x: hidden;
}

@layer utilities {
  /* Theme */
  .text-first {
    color: #fffffb;
  }

  .text-second {
    color: #0d0d0d;
  }

  .text-third {
    color: #3d31dd;
  }

  .bg-first {
    background: #0d0d0d;
  }

  .bg-second {
    background: #fffffb;
  }

  .bg-third {
    background: #3d31dd;
  }

  .border-third {
    border-color: #3d31dd;
  }

  .hover\:text-first {
    @apply .text-first;
  }

  .hover\:text-second {
    @apply .text-second;
  }

  .hover\:text-third {
    @apply .text-third;
  }

  .hover\:bg-first {
    @apply .bg-first;
  }

  .hover\:bg-second {
    @apply .bg-second;
  }

  .hover\:bg-third {
    @apply .bg-third;
  }

  .border-radius {
    border-radius: 6px;
  }
}

/* Fonts */
.huge-title {
  line-height: 70px;
  font-size: 62px;
  font-weight: 600;
}

.title {
  line-height: 60px;
  font-size: 48px;
  font-weight: 500;
}

.sub-title {
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

.header {
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
}

.logo {
  line-height: 28px;
  font-size: 23px;
  font-weight: 700;
}

.copy-huge {
  line-height: 26px;
  font-size: 20px;
  font-weight: 400;
  color: #d9d9d9;
}

.copy-big {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.copy {
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: #1f1f1f;
}

.sub-copy {
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

/* Markdown */

.markdown h2 {
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 4px;
}
.markdown h3 {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 4px;
}
.markdown p {
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}
.markdown strong {
  color: white;
}
.markdown a:hover {
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(25, 25, 25, 0.64);
  text-underline-offset: 2px;
}
.markdown a {
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(32, 32, 32, 0.834);
}
.markdown img {
  display: block;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 24px;
  border-radius: 22px;
}
.markdown li {
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 16px;
}
.markdown ul {
  margin-top: 12px;
  margin-bottom: 12px;
}
.markdown li::before {
  content: "-   ";
  margin-right: 0.5em;
}

/* Colors */
.red {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
}

.blue {
  background: #3d31dd;
}

.bg-blue {
  background-color: #3c31dd;
}

.dark {
  background: #0f0f10;
}

.prev-background {
  background: #202731;
}

/* Utils */
.shorten-p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.masonry-2-col {
  column-count: 2;
  column-gap: 24px;
  row-gap: 32px;
}

.grid-item {
  break-inside: avoid;
  display: inline-block;
}

/* Progress bar */
.progress-container {
  position: fixed; /* position the progress bar on top of the page */
  top: 0; /* align the progress bar to the top of the page */
  left: 0;
  right: 0;
  height: 3px; /* set the height of the progress bar */
  /* background-color: #ddd; set the background color of the progress bar */
}

.progress-indicator {
  height: 100%; /* set the height of the progress indicator to fill the progress bar */
  background-color: #3c31dd; /* set the background color of the progress indicator */
}

.shadow-x {
  box-shadow: 0px 20px 100px -5px rgba(0, 0, 0, 0.1);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 1.5s;
}

.slide-in-left-utility {
  @apply slide-in;
}