@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Montserrat", "Hind Madurai", sans-serif, "Lora", serif;
  }
}

@layer components {
  /* Fonts */
  .header {
    font-family: "Montserrat";
    font-size: 44px;
    line-height: 66px;
    font-weight: 700;
  }
  .header-medium {
    font-family: "Montserrat";
    font-size: 31px;
    line-height: 47px;
    font-weight: 700;
  }
  .header-small-bold {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
  }
  .header-tiny-bold {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
  }
  .sub-header {
    font-family: "Lora";
    font-size: 32px;
  }
  .sub-header-tiny {
    font-family: "Lora";
    font-size: 18px;
    font-weight: 200;
  }
  .copy {
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  .copy-tiny {
    font-family: "Hind Madurai", sans-serif;
    font-size: 14px;
  }
  .copy-bold {
    font-family: "Hind Madurai";
    font-size: 18px;
    font-weight: 600;
  }
  .description {
    font-family: "Hind Madurai", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
  
  /* Markdown */
  .markdown h2 {
    font-family: "Lora";
    font-size: 24px;
    font-weight: 200;
    color: #402f5e;
    margin-top: 24px;
    margin-bottom: 4px;
  }
  .markdown h3 {
    font-family: "Lora";
    font-size: 18px;
    font-weight: 200;
    color: #a99ea7;
    margin-top: 24px;
    margin-bottom: 4px;
  }
  .markdown p {
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #402f5e;
  }
  .markdown a {
    font-family: "Hind Madurai", sans-serif;
    font-size: 18px;
    color: #a45c8c;
  }
  .markdown img {
    display: block;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 24px;
    border-radius: 22px;
  }
  .markdown li {
    font-family: "Hind Madurai", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #402f5e;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
  }
  .markdown ul {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .markdown li::before {
    content: "-   ";
    margin-right: 0.5em;
  }

  /* Text colors */
  .azul {
    color: #243767;
  }
  .verde {
    color: #264c9a;
  }
  .gris {
    color: #6c98c7;
  }

  /* Background colors */
  .bg-azul {
    background-color:#243767;
  }
  .bg-verde {
    background-color:#264c9a;
  }
  .bg-gris {
    background-color:#6c98c7;
  }

  /* Border radius */
  .rounded-cool {
    border-radius: 26px;
  }

  /* Progress bar */
  .progress-container {
    position: fixed; /* position the progress bar on top of the page */
    top: 0; /* align the progress bar to the top of the page */
    left: 0;
    right: 0;
    height: 3px; /* set the height of the progress bar */
    background-color: #ddd; /* set the background color of the progress bar */
  }

  .progress-indicator {
    height: 100%; /* set the height of the progress indicator to fill the progress bar */
    background-color: #a45c8c; /* set the background color of the progress indicator */
  }
}